/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a {
    text-decoration: none;
    color: black;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.edit {
    background-color: black;
    width: 100%;
    max-height: 59px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.editPhoto {
    margin-top: 5px;
    margin-left: 57px;
}

.editModeProject {
    position: absolute;
    right: 32%;
    top: 8px;
}

.editModifier {
    border: none;
    color: black;
    background: #FFFFFF;
    font-family: "Work Sans";
}

.editContent {
    width: 31%;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

i {
    font-size: 16px;
}

.editModeEdition {
    color: white;
}

.editPublishChange {
    background: #FFFFFF;
    font-family: "Work Sans";
    border-radius: 60px;
    padding: 11px 23px 11px 23px;
    border: none;
}

.editFilterNone {
    display: none;
}

.jsModal {
    border: none;
    color: black;
    background: #FFFFFF;
    font-family: "Work Sans";
    cursor: pointer;
}



/* CSS POUR LES FENETRE MODAL */

#allModal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn .4s both;
    margin: 0;
    z-index: 1;
}

.modal {
    overflow: auto;
    background-color: white;
    width: 560px;
    height: auto;
    max-height: 700px;
    padding: 32px;
    border-radius: 10px;
    animation: slide .3s both;
}

#icons {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.arrowBack {
    visibility: hidden;
    cursor: pointer;
}

.closeModalIcon {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        transform: translateY(-60px);
    }

    to {
        transform: translateY(0px);
    }
}

/* APPARENCE DE LA MODALE 1 */

#modal1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.titleModal {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 46px;
}

.lineModal {
    border: 1px solid #B3B3B3;
    width: 87%;
}

#addButton {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1D6154 solid 1px;
    border-radius: 20px;
    margin: 38px auto 23px auto;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}

#addButton:hover {
    background-color: rgb(29, 97, 84, 0.8);
}

#deleteButton {
    background-color: #FFFFFF;
    border: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D65353;
    cursor: pointer;
}

#deleteButton:hover {
    text-decoration: underline;
}

.modalGallery {
    display: flex;
    width: 87%;
    flex-flow: wrap;
    row-gap: 15px;
    column-gap: 10px;
    margin: 0 0 47px 0;
}

.modalGallery img {
    width: 100%;
    height: 119px;
    object-fit: cover;
}

.iconModal {
    position: fixed;
    margin-top: -130px;
    margin-left: 65px;
    padding: 4px;
    font-size: 10px;
    color: white;
    background-color: #000;
    border-radius: 2px;
    cursor: pointer;
}

.arrow {
    margin-left: 42px;
    visibility: hidden;
}

figure:hover .arrow {
    visibility: visible;
}




/* APPARENCE DE LA MODALE 2 */

#modal2 {
    display: none;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#addPhotoModal {
    background-color: #E8F1F6;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.fa-image {
    color: #B9C5CC;
    font-size: 60px;
    padding: 28px 0px 15px 0px;
}

#addButtonImage {
    background-color: #CBD6DC;
    color: #306685;
    font-size: 14px;
    width: 170px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.addButtonImage:hover {
    background-color: rgb(194, 207, 214, 1.3);
}

#searchButton {
    display: none;
}

#addPhotoModal {
    width: 87%;
}

#commentaryImage {
    color: #444444;
    font-size: 12px;
    padding: 10px 0px 20px 0px
}

#imageModalForm label {
    padding-top: 30px;
    margin-bottom: 10px;
}

#imageModalForm {
    margin-bottom: 47px;
}

#validateButton {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #A7A7A7;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    margin: 38px auto 23px auto;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}

#errorImage {
    padding-top: 10px;
    gap: 5px;
}


/* VISUEL DE L'IMAGE CHARGÉE DANS LA MODALE 2 */

#imageOverview img {
    width: 135px;
    height: 180px;
    object-fit: cover;
}

























/*
* { box-sizing: border-box; }


.activeModal {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalWrapper {
    overflow: auto;
    width: 600px;
    padding: 32px 36px 32px 36px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.modalWrapper2 {
    overflow: auto;
    width: 600px;
    padding: 32px 36px 32px 36px;
    background-color: #FFFFFF;
    border-radius: 10px;
}


/* Intérieur de la modale 1 */

/*









.closeModalIcon {
    display: flex;
    justify-content: right;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

.backAndCloseModalIcon {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* ************ */

/* Intérieur de la modale 1 */

/*

#addPhotoModal {
    width: 420px;
    height: 169px;
    background: #E8F1F7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}



/* ************ */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
.loginWeight {
    font-weight: 600;
    cursor: pointer;
}
li:hover {
	color: #B1663C;
}

.connectionButton:hover {
    color: #B1663C;
}

.projectButton:hover {
    color: #B1663C;
}

.contactButton:hover {
    color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
    position: relative;
}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
    position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.menu {
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

}

.filtre {
    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1D6154 solid 1px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    padding: 5px 14px 5px 14px;
}

.logInButton {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1D6154 solid 1px;
    border-radius: 20px;
    margin: 0 20px 0 0;
    padding: 10px 40px 10px 40px;
    margin : 2em auto ;
}

.active {
    color: white;
    background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #logIn {
	width: 50%;
    margin: auto;
}

#contact, #logIn > * {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#logIn h2 {
    margin-bottom: 20px;
    margin-top: 150px;
}

#contact form, #logIn form, #modal2 form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#modal2 form {
    width: 87%;
}

#modal2 input, select {
    font-size: 14px;
    height: 50px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
}

#contact input, #logIn input {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #logIn label {
	margin: 2em 0 1em 0;
}
#contact textarea, #logIn textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    cursor: pointer;
}

.forgetPassword {
    text-decoration: underline;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

